<div class="container">
  <div class="jumbotron">
    <h2><i class="fa fa-user"></i> 審核</h2>
    <p>
      排序：學期 -> 教室 -> 申請時間
    </p>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= form_tag admin_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: "學號或姓名" %>
          <%= submit_tag "搜尋", name: nil %>
      <% end %><br>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>流水號</th>
          <th>學期</th>
          <th>教室</th>
          <th>申請時間</th>
          <th>事由</th>
          <th>狀態</th>
          <th>詳細資料</th>
          <th>審核</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @rent.each do |rent| %>
        <% user= User.find(rent.user_id)%>
          <tr>
            <td><%= rent.id %></td>
            <td><%= rent.semester.description %></td>
            <%rentc={'4'=>'I202','5'=>'I210','6'=>'I002'}%>
            <td><%= rentc[rent.facility.to_s]%></td>
            <td><%= rent.created_at.strftime('%Y / %m / %d %I:%M') %></td>
            <td><%= rent.name %></td>
            <td><%= rent.status %></td>
            <%#舊的show.html.erb link_to '詳細訊息', rent %>
            <td><a href="#" data-toggle="modal" data-target="#rent<%= rent.id %>">詳細資料</a></td>
            <%if rent.status=="待審核"%>
            <td class="col-md-1"><%= link_to '審核', admin_vertify_path(rent) %></td>
            <%else%>
            <td class="col-md-1"><%= link_to '取消審核', admin_unvertify_path(rent) %></td>
            <%end%>
            <td><%= link_to '刪除', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <!-- Modal -->
          <div id="rent<%= rent.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%= rent.name %></h4>
                </div>
                <div class="modal-body">
                  <p>學期：<%= rent.semester.description %></p>
                  <% rents={'4'=>'I202','5'=>'I210' , '6'=>'I002'}%>
                  <p>教室：<%= rents[rent.facility.to_s] %></p>
                  <p>事由：<%= rent.name %></p>
                  <p>教師：<%= rent.teacher %></p>
                  <p>借用人：<%= user.name %></p>
                  <p>聯絡電話：<%= rent.phone %></p>
                  <p>聯絡信箱：<%= rent.email %></p>
                  <p>欲借用的時段：</p>
                  <% rent.rent_times.each do |time| %>
                    <p>
                      <%= time.start.strftime('%Y / %m / %d %I:%M') %>
                       ～
                      <%= time.end.strftime('%Y / %m / %d %I:%M') %>
                    </p>
                  <% end %>
                  <p>狀態：<%= rent.status %></p>
                </div>
                <div class="modal-footer">
                  <%# link_to '編輯', edit_rent_path(rent), :class => "btn btn-default" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
