<div class="col-md-10 col-md-offset-1">
<%= form_tag admin_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "關鍵字" %>
    <%= submit_tag "搜尋", name: nil %>
<% end %><br>



<table>
  <tbody>
    <% @rent.each do |rent| %>
    <% user= User.find(rent.user_id)%>
      <tr>
        <td><%= rent.name %></td>
        <td><%= rent.status %></td>
        <td><%= user.name %></td>
        <td><%= link_to '詳細訊息', rent %></td>
        <td><%= link_to '編輯', edit_rent_path(rent) %></td>
        <td><%= link_to '審核', admin_vertify_path(rent) %></td>
        <td><%= link_to '刪除', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
