<div class="container">
  <div class="jumbotron">
    <h2><i class="fa fa-calendar"></i> 借用狀態</h2>
    <p>
      狀態分為<mark>審核中</mark>和<mark>已借出</mark><br>
      審核中：電算中心正在確認此次預約並審核申請單。<br>
      已借出：代表借用已經成功。
    </p>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <h3>審核中：</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#vertity-202">I202</a></li>
        <li><a data-toggle="tab" href="#vertity-002">I002</a></li>
        <li><a data-toggle="tab" href="#vertity-210">I210</a></li>
      </ul><br>
      <div class="tab-content">
        <div id="vertity-202" class="tab-pane fade in active">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @vertify_202 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
        <div id="vertity-002" class="tab-pane fade">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @vertify_002 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
        <div id="vertity-210" class="tab-pane fade">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @vertify_210 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <h3>已借出：</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#rent-202">I202</a></li>
        <li><a data-toggle="tab" href="#rent-002">I002</a></li>
        <li><a data-toggle="tab" href="#rent-210">I210</a></li>
      </ul><br>
      <div class="tab-content">
        <div id="rent-202" class="tab-pane fade in active">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @rent_202 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
        <div id="rent-002" class="tab-pane fade">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @rent_002 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
        <div id="rent-210" class="tab-pane fade">
          <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= @rent_210 %>&amp;color=%23125A12"
          style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
