<div class="container">
  <div class="jumbotron">
    <h2><i class="fa fa-paper-plane"></i> 預約</h2>
    <p>
      請先確認沒有撞時再點選<mark>填寫預約</mark><br>
      預約完成後請<mark>列印申請單</mark>送到電算中心<br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= link_to icon('paper-plane','填寫預約詳細內容'), new_rent_path, :class => "btn btn-success btn-lg btn-block", :role => "button" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>請不要填寫下列時段：</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#rent-202">I202</a></li>
        <li><a data-toggle="tab" href="#rent-002">I002</a></li>
        <li><a data-toggle="tab" href="#rent-210">I210</a></li>
      </ul><br>
      <div class="tab-content">
        <div id="rent-202" class="tab-pane fade in active">
          <h4>臨時性借用：</h4>
          <table class="table table-striped">
            <thead>
              <th>學期</th>
              <th>時段</th>
            </thead>
            <tbody>
              <% @rent_202.each do |r| %>
                <tr>
                  <td><%= r.semester.description %></td>
                  <td>
                    <% r.rent_times.each do |t| %>
                      <%= t.start.strftime('%Y / %m / %d %H:%M') %>
                       ～
                      <%= t.end.strftime('%Y / %m / %d %H:%M') %><br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="rent-002" class="tab-pane fade">
          <h4>臨時性借用：</h4>
          <table class="table table-striped">
            <thead>
              <th>學期</th>
              <th>時段</th>
            </thead>
            <tbody>
              <% @rent_002.each do |r| %>
                <tr>
                  <td><%= r.semester.description %></td>
                  <td>
                    <% r.rent_times.each do |t| %>
                      <%= t.start.strftime('%Y / %m / %d %H:%M') %>
                       ～
                      <%= t.end.strftime('%Y / %m / %d %H:%M') %><br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="rent-210" class="tab-pane fade">
          <h4>臨時性借用：</h4>
          <table class="table table-striped">
            <thead>
              <th>學期</th>
              <th>時段</th>
            </thead>
            <tbody>
              <% @rent_210.each do |r| %>
                <tr>
                  <td><%= r.semester.description %></td>
                  <td>
                    <% r.rent_times.each do |t| %>
                      <%= t.start.strftime('%Y / %m / %d %H:%M') %>
                       ～
                      <%= t.end.strftime('%Y / %m / %d %H:%M') %><br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
