<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center">
        <h2>國立中央大學電子計算機中心</h2>
        <h2>電腦網路教室及遠距視訊教室場地使用申請表</h2>
      </div>
      <br><br>
      <div class="block">
        <h4>學期：<%= @rent.semester.description %></h4>
      </div>
      <div class="block">
        <% rent={'4'=>'I202','5'=>'I210' , '6'=>'I002'}%>
        <h4>場地：<%= rent[@rent.facility.to_s] %></h4>
      </div>
      <div class="block">
        <h4>事由：<%= @rent.name %></h4>
      </div>
      <div class="block">
        <h4>教師： <%= @rent.teacher %></h4>
      </div>
      <div class="block">
        <h4>申請人：<%= @user.name %></h4>
      </div>
      <div class="block">
        <h4>單位：<%= @user.unit %></h4>
      </div>
      <div class="block">
        <h4>聯絡電話：<%= @rent.phone %></h4>
      </div>
      <div class="block">
        <h4>聯絡信箱：<%= @rent.email %></h4>
      </div>
      <div class="block">
        <h4>使用時間及日期：</h4>
        <% @rent.rent_times.each do |time| %>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= time.start.strftime('%Y / %m / %d %H:%M') %>
             ～
            <%= time.end.strftime('%Y / %m / %d %H:%M') %>
          </p>
        <% end %>
      </div>
      <div class="block">
        <h4>申請時間：<%= @rent.created_at.strftime('%Y / %m / %d %H:%M') %></h4>
      </div>
      <div class="block">
        <h4>預計人數：</h4>
      </div>
      <div class="block">
        <h4>中心主任簽章：</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br><br>
      <%=link_to "列印", '#', onclick: "printpage()", :class => "btn btn-default btn-block" %>
    </div>
  </div>
</div>

<script>
  function printpage()
    {
      window.print()
    }
</script>
