<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>教室借用</th>
      <th>狀態</th>
      <th>借用人</th>

    </tr>
  </thead>


  <tbody>
    <% @rent.each do |rent| %>
    <% user= User.find(rent.user_id)%>
      <tr>
        <td class="col-md-2"><%= rent.name %></td>
        <td class="col-md-2"><%= rent.status %></td>
        <td class="col-md-2"><%= user.name %></td>
        <td class="col-md-1"><%= link_to '詳細訊息', rent %></td>
        <%if rent.status=='待審核'%>
        <td class="col-md-1"><%= link_to '刪除', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
  </div>


<br>
</div>
