<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Classroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '教室借用系統', root_path, :class => "navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '使用說明', pages_readme_path %></li>
        <li><%= link_to '借用狀態', pages_status_path %></li>
        <li><%= link_to '預約', rents_path %></li>
        <li><%= link_to '查詢預約', search_path %></li>
        <%if user_signed_in?%>
          <%if current_user.privilege==2%>
            <li><%= link_to'admin', admin_path%></li>
          <%end%>
          <li><%= link_to('登出', logout_path) %></li>
        <%else%>
          <li><%= link_to('login',oauth_path )%><li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="leftdown">
    <%= yield %>
  </div>
</div>

<%= render "layouts/footer" %>

</body>
</html>
